
/* Wrapping div around badges */
#share-bar-badges {
}

/* Each div wrapping a social badge */
#share-bar-badges .badge {
	padding:5px;
	text-align:center;
}

/* Wrapping div around badges while sticking */
#share-bar-badges.share-bar-badges-fixed {
	background:#FFF;
	width:75px;
}

/* Each div wrapping a social badge while sticking */
#share-bar-badges.share-bar-badges-fixed div.badge {
	float:none;
}

/* The first badge when fixed */
#share-bar-badges.share-bar-badges-fixed div.badge.first {
}

/* The last badge when fixed */
#share-bar-badges.share-bar-badges-fixed div.badge.last {
}

/* Wrapping div around badges while static */
#share-bar-badges.share-bar-badges-static {
	background:transparent;
	width:auto;
}

/* Each div wrapping a social badge while static */
#share-bar-badges.share-bar-badges-static div.badge  {
	float:left;
}

/* The first badge when static */
#share-bar-badges.share-bar-badges-static div.badge.first {
}

/* The last badge when static */
#share-bar-badges.share-bar-badges-static div.badge.last {
}